{% extends "base.html" %} {% block content %}
<div class="content_box" id="home_page">
  <h1>Welcome to my project: Qookbook!</h1>
  <h3>
    This is a simple project that I have created to demonstrate my skills in
    Python and Flask.
  </h3>
  <br />
  <h3>
    The project is a simple cookbook that allows you to search for recipes using
    Edamam API.
  </h3>
  <br />
  <h3>
    You can also add any recipes to your favorites list, which is located in
    your profile.
  </h3>
</div>

{% endblock %}
