{% extends "base.html" %} {% block content %}
<h1>Search</h1>
<form action="/search" method="POST">
  <label for="search">Search:</label>
  <input type="text" id="search" name="search" required />
  <input type="submit" value="Search" />
</form>
{% for recipe in recipes %}
<div class="content_box" id="search_recipes">
  <div>
    <p>{{ recipe.title }}</p>
    <a href="{{ recipe.url }}">{{ recipe.url }}</a>
    <form action="/add_to_favorites" method="post">
      <input type="hidden" name="recipe_title" value="{{ recipe.title }}" />
      <input type="submit" value="Add to Favorites" />
    </form>
  </div>
</div>
{% endfor %} {% endblock %}
