{% extends "base.html" %} {% block content %}
<h1>Search</h1>
<form action="/search" method="POST" class="form" id="search_form">
  <label for="search">Enter your ingridients</label>
  <input type="text" id="search" name="search" required />
  <button type="submit">Search</button>
</form>
{% if recipes %}
<div class="content_box" id="search_recipes">
  {% for recipe in recipes %}
  <div id="recipe">
    <p>{{ recipe.title }}</p>
    <a href="{{ recipe.url }}" target="_blank">{{ recipe.url }}</a>
    <form action="/add_to_favorites" method="post">
      <input type="hidden" name="recipe_title" value="{{ recipe.title }}" />
      <button type="submit" id="fav_btn">Add to Favourites</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
